@require 'styles'
@require 'table'

.bc-table-header
    padding 0 
    display flex
    flex-direction row
    justify-content flex-end 
    align-items center

    .glyphicon-refresh
        font-size 16px
        padding 5px

.bc-songs-list
    //height 100%

    table
        background-color #fff
        overflow auto

    .bc-songs-list-actions
        text-align right

