@require 'styles'

.bc-container
    display flex
    flex-direction column
    height 100%

    .bc-content
        flex-grow 1
        display flex
        flex-direction row
        justify-content: space-between

        .bc-chordpro-view
            min-width 500px
