@require 'styles'

.bc-container
    display flex
    flex-direction column
    height 100%

    .bc-content
        background-color #f8f8f8        
        flex-grow 1
        display flex
        flex-direction row
        height 100%
        /*justify-content: space-between*/

        .bc-menu
            background-color #f8f8f8        
            width 150px                     
            min-height 500px                
            //border-right 1px solid #e7e7e7

        .bc-chordpro-view
        .ace_editor
            padding 0 1rem
            flex-basis 50%


