html,#app
    width 100%
    height 100%
    margin 0

body
    background-color white
    width 100%
    height 100%
    min-width 800px
    overflow-y hidden

.navbar
    margin-bottom 0

.bc-page
    position absolute
    width 100%
    height 100%
    margin 0

.bc-expander
    flex-grow 2
