html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
}

.bc-content {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.navbar {
    border-bottom: 1px solid #ddd;
}

.btn-toolbar button {
    margin-right: 5px;
}

/********************* ChordPro View ************/

.bc-chordpro-view .dropdown {
    float: right;
}

.bc-chordpro-view h1 {
    font-size: 17pt;
}

.bc-chordpro-view h2 {
    font-size: 14pt;
}

.bc-chordpro-view-verse {
    margin-bottom: 1em;
}

.bc-chordpro-view-chorus {
    margin-bottom: 1em;
    margin-left: 1em;
}

.bc-chordpro-view-chord {
    font-weight: bold;
    color: #36C;
}

.bc-chordpro-view-text {
    padding: 0px;
    white-space: pre;
}

/********************* Songs table ************/

.bc-songs-table td {
    padding-right: 10px;
    white-space: nowrap;
}

.bc-songs-table {
    margin-bottom: 20px;
}

/********************* Login form ************/

.bc-login {
    padding: 60px 0;
}

.bc-login form {
    margin: 0 auto;
    max-width: 320px;
}

.bc-login #bc-login-toggle {
    margin-top: 30px;
}
