$table-border = #eaeaea
$table-row-height = 28px

$table-text-color = $mine-shaft
$table-cell-padding = 5px

$table-header-bg = #fff
$table-header-color = #666
$table-header-active-color = red

.table-basic
    width 100%
    border-spacing 0
    border-collapse collapse

.tr-basic
    width 100%
    height $table-row-height
    border 1px solid $table-border

.thead-basic
    user-select none

    > .tr-basic

        > .th-basic
            background-color $table-header-bg
            color $table-header-color
            border none
            border-bottom 1px solid $table-header-border
            text-align left
            padding-left $table-cell-padding
            padding-right $table-cell-padding

            &.th-sortable
                &:hover             
                    cursor pointer  
                > .asc, > .desc     
                    margin-left 5px
                    display none    
                    line-height 1  
                    font-size 10px

.tbody-basic
    > .tr-basic
        > .td-basic
            padding-left $table-cell-padding
            padding-right $table-cell-padding
            white-space nowrap
    overflow auto

