@require 'styles'

.bc-chordpro-view

    position relative

    h1
        font-size 22px

    h2
        font-size 16px

    &-verse
        margin-bottom 10px
        margin-top 10px

    &-chorus
        margin-bottom 10px
        margin-top 10px
        margin-left 20px

    &-row
        margin-bottom 2px

    &-text
        white-space pre-wrap
        text-align left

    &-chord
        text-align left
        color red

    &-ctrl-group
        position absolute
        top 0px
        right 0px
