@require 'styles'

.bc-chordpro-view
    &-verse
        margin-bottom 10px
        margin-top 10px

    &-chorus
        margin-bottom 10px
        margin-top 10px
        margin-left 20px

    &-row
        margin-bottom 2px

    &-chord
        color red
